<!-- <section class="email-share">
<div class="container">
<div class="row">
<div class="col-md-12">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus earum accusantium excepturi nulla natus libero, minima tenetur fugiat quis magni debitis, repellat, quibusdam nisi iste. Accusamus similique natus, odit laborum.
</div>
</div>
</div>
</section> -->

<!-- <section class="suported">
<div class="container">
<div class="row">
<div class="col-sm-12">
<span class="text-center font-30">SUPORTED BY:</span>
<div class="br10"></div>
<div class="container">
<div class="row">
<div class="col-md-12">
<div id="Carousel" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#carousel" data-slide-to="0" class="active"></li>
<li data-target="#carousel" data-slide-to="1"></li>
</ol>
<div class="carousel-inner">
<div class="item active">
<div class="row">
<div class="col-md-3"><a href="#"><img src="http://localhost/portal_sukabumi_shopping/asset/frontend/img/carousel/sukabumifacebook.jpg" alt="Image" class="image-height-foo"></a></div>
<div class="col-md-3"><a href="#"><img src="http://localhost/portal_sukabumi_shopping/asset/frontend/img/carousel/kaskussukabumi.jpg" alt="Image" class="image-height-foo"></a></div>
<div class="col-md-3"><a href="#"><img src="http://localhost/portal_sukabumi_shopping/asset/frontend/img/carousel/backpapersukabumi.jpg" alt="Image" class="image-height-foo"></a></div>
<div class="col-md-3"><a href="#"><img src="http://localhost/portal_sukabumi_shopping/asset/frontend/img/carousel/kimiafarma.png" alt="Image" class="image-height-foo"></a></div>
</div>
</div>

<div class="item">
<div class="row">
<div class="col-md-3"><a href="#"><img src="http://localhost/portal_sukabumi_shopping/asset/frontend/img/carousel/sukabumifacebook.jpg" alt="Image" class="image-height-foo"></a></div>
<div class="col-md-3"><a href="#"><img src="http://localhost/portal_sukabumi_shopping/asset/frontend/img/carousel/kaskussukabumi.jpg" alt="Image" class="image-height-foo"></a></div>
<div class="col-md-3"><a href="#"><img src="http://localhost/portal_sukabumi_shopping/asset/frontend/img/carousel/backpapersukabumi.jpg" alt="Image" class="image-height-foo"></a></div>
<div class="col-md-3"><a href="#"><img src="http://localhost/portal_sukabumi_shopping/asset/frontend/img/carousel/kimiafarma.png" alt="Image" class="image-height-foo"></a></div>
</div>
</div>
</div>
<a data-slide="prev" href="#Carousel" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left carousel-40 margin-carousel-foo"></span></a>
<a data-slide="next" href="#Carousel" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right carousel-40 margin-carousel-foo"></span></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>  
</section> -->

<section id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<span class="bold2 font16">About us</span>
				<div class="br20"></div>
				<ul>
					<li><a href="">Tentang Kami</a></li>
					<li><a href="">Kontak</a></li>
					<li><a href="">F.A.Q</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-3">
				<span class="bold2 font16">Other</span>
				<div class="br20"></div>
				<ul>
					<li><a href="">Kebijakan Privasi</a></li>
					<li><a href="">Hak Cipta</a></li>
					<li><a href="">Aturan Penggunaan</a></li>
					<li><a href="">Partner</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-3">
				<span class="bold2 font16">User area</span> 
				<div class="br20"></div>
				<ul>
					<li><a href="">Register/Pendaftaran</a></li>
					<li><a href="">Login/Masuk</a></li>
					<li><a href="">Cara Pemakaian</a></li>
					<li><a href="">Tips Beli Barang</a></li>
					<li><a href="">Blog</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-3">
				<%= image_tag 'logo-bottom.png' %>
				<div class="br20"></div>
				<div class="find-use-here">
					<ul class="list-inline">
						<li>
							<a href="#">
								<button class="btn btn-social-icon btn-primary">
									<span class="fa fa-facebook font-size15"></span>
								</button>
							</a>
						</li>
						<li>
							<a href="#">
								<button class="btn btn-social-icon btn-info">
									<span class="fa fa-twitter font-size15"></span>
								</button>
							</a>
						</li>
						<li>
							<a href="#">
								<button class="btn btn-social-icon btn-danger">
									<span class="fa fa-google-plus font-size15"></span>
								</button>
							</a>
						</li>
						<li>
							<a href="#">
								<button class="btn btn-social-icon btn-primary">
									<span class="fa fa-linkedin font-size15"></span>
								</button>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>