<div id="loading"></div>
<a href="#top" id="toTop"></a><header>
	<section class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<!-- <div class="col-md-6">Portal Jual Beli Online Sukabumi Shopping</div>
					<div class="col-md-6">Selamat Datang, User</div> -->
				</div>
			</div>
		</div>
	</section>
</header>
<section class="header2 shadow-bottom-navbar" id="top-menu-bar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<%= link_to root_path, :class => 'navbar-brand italic' do %>
							<%= image_tag 'logo-bottom.png' %>
						<% end %>
					</div>
					
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<div class="ui-group-buttons">
									<a href="#" data-toggle="modal" data-target="#login">
										<button type="button" class="btn btn-primary btn-sm btn-login btn-green">Login</button>
									</a>
									<div class="or or-sm"></div>
									<a href="#" data-toggle="modal" data-target="#signup">
										<button type="button" class="btn btn-primary btn-sm btn-register btn-green">Daftar</button>
									</a>
								</div>
							</li>
							<li>
								<div class="text-center">
									<%= link_to root_path do %>
										<button type="button" class="btn btn-primary btn-sm btn-green">
											<span class="fa fa-plus"></span> Pasang Iklan Gratis
										</button>
									<% end %>
								</div>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</section>