<div class="padding0">
	<div class="col-md-3">
		<a href="">
			<button class="btn btn-primary btn-block">
				<span class="fa fa-facebook"></span> Facebook
			</button>
		</a>
	</div>
	<div class="col-md-3">
		<a href="">
			<button class="btn btn-info btn-block">
				<span class="fa fa-twitter"></span> Twitter
			</button>
		</a>
	</div>
	<div class="col-md-3">
		<a href="">
			<button class="btn btn-danger btn-block">
				<span class="fa fa-pinterest"></span> Pinterest
			</button>
		</a>
	</div>
	<div class="col-md-3">
		<a href="">
			<button class="btn btn-danger btn-block">
				<span class="fa fa-google-plus"></span> Google+
			</button>
		</a>
	</div>
</div>