<%= render 'shareds/mini_property_search_top' %>

<div class="container">
	<div class="row box-padding">
		<div class="col-md-12">
			<div class="breadcrumbs padd-left16">
				<a href="#">Home</a>
				<%= image_tag 'marker_2.gif' %>
				<a href="#">Elektronik & Gadget</a>
				<%= image_tag 'marker_2.gif' %>
				Laptop Acer 4743 GH
			</div>
		</div>
		<div class="br20"></div>
		<div class="col-md-3">
			<section id="sidebar">
				<section id="aside-product-search">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-md-6">
								<a href="#" class="btn btn-default">Pencarian Baru</a>
							</div>
							<div class="col-md-6">
								<a href="#" class="btn btn-default">Refresh Page</a>
							</div>
						</div>
						<div class="br10"></div>
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default active">
								<div class="panel-heading" role="tab" id="headingOne">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Kata Pencarian
										</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in" aria-labelledby="headingOne">
									<div class="panel-body">
										test
									</div>
								</div>
							</div>
							<div class="panel panel-default active">
								<div class="panel-heading" role="tab" id="headingTwo">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											Jenis Barang
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									<div class="panel-body">
										test
									</div>
								</div>
							</div>
							<div class="panel panel-default active">
								<div class="panel-heading" role="tab" id="headingThree">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											Kategori Barang
										</a>
									</h4>
								</div>
								<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
									<div class="panel-body">
										test
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</section>
		</div>
		<div class="col-md-9">
			<section id="content">
				<div class="row">
					<div id="property-list" class="property-list full-listing grid-layout clearfix">
						<div class="col-sm-12 col-md-12 the-title text-left">
							<h2>Daftar Iklan Kategori Barang Elektronik</h2>
						</div>
						<div class="col-sm-12 col-md-12">
							<div class="filter-bar clearfix">
								<div class="row">
									<div class="col-xs-3">
										<form class="form-inline clearfix">
											<ul class="list-unstyled pull-right filter-option">
												<li>
													<div class="btn-group">
														<select name="" class="form-control padd-left4">
															<option value="">Urutkan: Pilih</option>
															<option value="Iklan Terbaru">Iklan Terbaru</option>
															<option value="Dari A-Z">Dari A-Z</option>
															<option value="Dari Z-A">Dari Z-A</option>
															<option value="Dari Mahal ke Murah">Dari Mahal ke Murah</option>
															<option value="Dari Murah ke Mahal">Dari Murah ke Mahal</option>
														</select>
													</div>
												</li>
											</ul>
										</form>
									</div>
									<div class="col-xs-3">
										<form class="form-inline clearfix">
											<button class="btn btn-primary">
												<i class="glyphicon glyphicon-floppy-disk"></i> Simpan pencarian
											</button>
										</form>
									</div>
									<div class="col-xs-6">
										<form class="form-inline clearfix">
											<ul class="list-unstyled pull-right filter-option">
												<li>
													<div class="btn-group">
														Tampilan :
														<a href="#" id="listview" class="switcher active"> 
															<i class="fa fa-th-list"></i>
														</a>
														<a href="#" id="gridview" class="switcher"> 
															<i class="fa fa-th"></i>
														</a>
													</div>
												</li>
											</ul>
										</form>
									</div>
								</div>
							</div>
						</div>
						<% (1..12).each do %>
						<a href="#" class="hover-barang">
							<div class="prop-item col-sm-6 col-md-4">
								<div class="thumbnail box-border-product brdr-shadow">
									<a href="#">
										<div class="thumbnail-img thumbscrubber smooth mg-zoom-image">
											<span class="ts-inner ">
												<%= image_tag 'single1.jpg', class: 'ts-currslide', alt: 'Sukabumi Shopping' %>
											</span>
										</div>
										<div class="thumbnail-body">
											<div class="caption">
												<h3>Helm Nolan Exlite </h3>
												<span class="small-font grey italic">dibuat Senin, 29 Mei 2010</span>
												<span class="prop-address">Kota Sukabumi, Kecamatan Gunung Puyuh</span>
												<div class="prop-price">Rp. 10.000.000</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</a>
						<% end %>
					</div>
				</div>
				<ul class="pagination">
					<li>
						<a href="#">
							<i class="fa fa-chevron-left"></i> Previous
						</a>
					</li>
					<li class="active">
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">
							Next <i class="fa fa-plus"></i>
						</a>
					</li>
				</ul>
			</section>
		</div>
	</div>
</div>

<section id="mid-section">
	<div class="container">
		<div class="row">
		</div>
	</div>
</section>