<div class="container padding-top20 padding-bottom-15">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-8 column">
					<div class="alert alert-info"> 
						Berita Terbaru
					</div>
					<% (1..5).each do %>
						<div class="padding-bottom-10">
							<div class="col-sm-3">
								<%= image_tag 'single4.jpg', class: 'img-thumbnail' %>
							</div>
							<div class="col-sm-5 col-md-9">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quae deleniti itaque laudantium ut quisquam laborum nulla? Nam aut totam rerum magnam inventore aperiam nisi cupiditate distinctio, maiores ipsam possimus.
								<br>
								<div class="btn btn-default">Details</div>
							</div>
						</div>
					<% end %>
				</div>
				<div class="col-md-4 column">
					<div class="panel panel-default">
						<div class="panel-heading">
							Komentar Terbaru
						</div>
						<div class="panel-body">
							lorem
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>