<%= render 'shareds/mini_property_search_top' %>
<div class="br10"></div>
<div class="br10"></div>
<div class="container">
	<div class="row box-padding">
		<div class="col-md-12">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<section id="content">
					<div class="panel">
						<div class="panel-heading panel-login-color">
							<h3>DAFTAR</h3>
						</div>
						<div class="panel-body border-panel-ccc">
							<div id="demoWrapper">

								<h5 id="status"></h5>
								<form id="demoForm" method="post" action="" class="bbq">
									<div id="fieldWrapper">
										<div class="step" id="first">
											<div class="form-group">
												<label class="italic">Username</label>
												<input type="text" class="form-control required" placeholder="Username">
											</div>
											<div class="form-group">
												<label class="italic">Email</label>
												<input type="email" class="form-control required" placeholder="Your Email">
											</div>
											<div class="form-group">
												<label class="italic">Password</label>
												<input type="password" class="form-control" placeholder="Kata sandi">
											</div>
											<div class="form-group">
												<label class="italic">Konfirmasi Password</label>
												<input type="password" class="form-control" placeholder="Konfirmasi sandi">
											</div>
										</div>

										<div id="sweden" class="step submit_step">
											<div class="form-group">
												<label class="italic">Nama lengkap</label>
												<input type="text" class="form-control required" id="" placeholder="Nama Lengkap">
											</div>
											<div class="form-group">
												<label class="italic">Jenis Kelamin</label>
												<select class="form-control" name="gender" id="gender">
													<option value=""></option>
													<option value="male">Laki-laki</option>
													<option value="Female">Perempuan</option>
												</select>
											</div>
											<div class="form-group">
												<label class="italic">Tanggal Lahir</label>
												<input type="date" class="form-control" id="">
											</div>
											<div class="form-group">
												<label class="italic">Telephone</label>
												<input type="text" class="form-control" id="" placeholder="0857xxx xxx xxx">
											</div>
										</div>
									</div>
									<div id="demoNavigation"> 							
										<input class="btn btn-info btn-lg" id="back" value="Back" type="reset" />
										<input class="btn btn-info btn-lg" id="next" value="Next" type="submit" />
									</div>
								</form>
							</div>
						</div>
						<div class="panel-footer border-top-footer-panel panel-login-color"></div>
					</div>
				</section>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>