<section class="bawah-search brdr-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="col-md-6 col-sm-4">
					<div class="alert alert-orange2 text-center">Temukan Barang berdasarkan Kategori dan Lokasi</div>
					<ul class="nav nav-tabs nav-tabs2 width20" role="tablist" id="myTab">
						<li class="active">
							<a href="#pilih-barang" role="tab" data-toggle="tab">
								<span class="fa fa-folder-open"></span> Kategori barang
							</a>
						</li>
						<li class="">
							<a href="#pilih-tempat" role="tab" data-toggle="tab">
								<span class="fa fa-map-marker"></span> Kategori tempat
							</a>
						</li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="pilih-barang">
							<div class="col-md-12 padding-bottom-5">
								<div class="col-md-6 list-style margin-left-right-catalog-home">
									<li class="margin-bottom-5">
										<div class="btn btn-primary">
											<span class="fa fa-car"></span>
										</div> 
										<a href="">Mobil</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-primary">
											<span class="fa fa-bicycle"></span>
										</div> 
										<a href="">Motor</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-primary">
											<span class="fa fa-laptop"></span>
										</div> 
										<a href="">Property</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-primary">
											<span class="fa fa-laptop"></span>
										</div> 
										<a href="">Elektronik & Gadget</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-primary">
											<span class="fa fa-plug"></span>
										</div> 
										<a href="">Perlengkapan rumah</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-primary">
											<span class="fa fa-heart-o"></span>
										</div> 
										<a href="">Fashion & Accessoris</a>
									</li>
								</div>
								<div class="col-md-6 list-style margin-left-right-catalog-home">
									<li class="margin-bottom-5">
										<div class="btn btn-primary">
											<span class="fa fa-briefcase"></span>
										</div> 
										<a href="">Perlengkapan Bayi</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-primary">
											<span class="fa fa-soccer-ball-o"></span>
										</div> 
										<a href="">Hobi & Olahraga</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-primary">
											<span class="fa fa-bug"></span>
										</div> 
										<a href="">Hewan Peliharaan</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-primary">
											<span class="fa fa-globe"></span>
										</div> 
										<a href="">Bisnis ke bisnis</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-primary">
											<span class="fa fa-fax"></span>
										</div> 
										<a href="">Pekerjaan & Jasa</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-primary">
											<span class="fa fa-coffee"></span>
										</div> 
										<a href="">Makanan & Minuman</a>
									</li>
								</div>
							</div>
						</div>
						<div class="tab-pane tab-kategori-ul" id="pilih-tempat">
							<div class="top-search-border-bottom text-center">DAERAH KOTA SUKABUMI</div>
							<div class="br10"></div>
							<div class="kategori-lokasi-kota">
								<div class="container">
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
											<ul>
												<li class='tooltipsku' data-toggle="tooltip" data-placement="top" title="Cari barang di kecamatan gunung puyuh">Kecamatan Gunung Puyuh
												</li>
												<li class='tooltipsku' data-toggle="tooltip" data-placement="top" title="Cari barang di Kecamatan Warudoyong">Kecamatan Warudoyong
												</li>
												<li class='tooltipsku' data-toggle="tooltip" data-placement="top" title="Cari barang di Kecamatan Cikole">Kecamatan Cikole
												</li>
												<li class='tooltipsku' data-toggle="tooltip" data-placement="top" title="Cari barang di Kecamatan Baros">Kecamatan Baros
												</li>
											</ul>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
											<ul>
												<li class='tooltipsku' data-toggle="tooltip" data-placement="top" title="Cari barang di Kecamatan Cibeureum">Kecamatan Cibeureum
												</li>
												<li class='tooltipsku' data-toggle="tooltip" data-placement="top" title="Cari barang di Kecamatan Citamiang">Kecamatan Citamiang
												</li>
												<li class='tooltipsku' data-toggle="tooltip" data-placement="top" title="Cari barang di Kecamatan Lembur Situ">Kecamatan Lembur Situ
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<br>
							<div class="top-search-border-bottom text-center">DAERAH KABUPATEN SUKABUMI</div>
							<div class="br10"></div>
							<div class="kategori-lokasi-kabupaten">
								<div class="container">
									<div class="row">
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<ul>
												<li><a href="">Ciracap</a></li>
												<li><a href="">Surade</a></li>
												<li><a href="">Cibitung</a></li>
												<li><a href="">Tegal Buleud</a></li>
												<li><a href="">Cidadap</a></li>
												<li><a href="">Cidolog</a></li>
												<li><a href="">KaliBunder</a></li>
												<li><a href="">Jampang Kulon</a></li>
												<li><a href="">Cimanggu</a></li>
												<li><a href="">Waluran</a></li>
											</ul>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<ul>
												<li><a href="">Ciemas</a></li>
												<li><a href="">Simpenan</a></li>
												<li><a href="">Lengkong</a></li>
												<li><a href="">Pabuaran</a></li>
												<li><a href="">Sagaranten</a></li>
												<li><a href="">Curug Kembar</a></li>
												<li><a href="">Purabaya</a></li>
												<li><a href="">Nyalindung</a></li>
												<li><a href="">Jampang tengah</a></li>
												<li><a href="">Pelabuhan Ratu</a></li>
											</ul>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<ul>
												<li><a href="">Ciemas</a></li>
												<li><a href="">Simpenan</a></li>
												<li><a href="">Lengkong</a></li>
												<li><a href="">Pabuaran</a></li>
												<li><a href="">Sagaranten</a></li>
												<li><a href="">Curug Kembar</a></li>
												<li><a href="">Purabaya</a></li>
												<li><a href="">Nyalindung</a></li>
												<li><a href="">Jampang tengah</a></li>
												<li><a href="">Pelabuhan Ratu</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="container">
									<div class="row">
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<ul>
												<li><a href="">Bantar Gadung</a></li>
												<li><a href="">Warung Kiara</a></li>
												<li><a href="">Cisolok</a></li>
												<li><a href="">Cikakak</a></li>
												<li><a href="">Cikidang</a></li>
												<li><a href="">Cikembar</a></li>
												<li><a href="">Cibadak</a></li>
												<li><a href="">Cicantayan</a></li>
												<li><a href="">Nagrak</a></li>
											</ul>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<ul>
												<li><a href="">Gunung Guruh</a></li>
												<li><a href="">Cisaat</a></li>
												<li><a href="">Kadudampit</a></li>
												<li><a href="">Sukalarang</a></li>
												<li><a href="">Sukaraja</a></li>
												<li><a href="">Cireunghas</a></li>
												<li><a href="">Gegerbitung</a></li>
												<li><a href="">Kepon Pedes</a></li>
												<li><a href="">parung Kuda</a></li>
											</ul>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<ul>
												<li><a href="">Cicurug</a></li>
												<li><a href="">Bojong Genteng</a></li>
												<li><a href="">Kalapa Nunggal</a></li>
												<li><a href="">Parakan Salak</a></li>
												<li><a href="">Cidahu</a></li>
												<li><a href="">Kabandungan</a></li>
												<li><a href="">Ciambar</a></li>
												<li><a href="">Caringin</a></li>
												<li><a href="">Karang Tengah</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="alert alert-orange2 text-center">Temukan Informasi terbaru lainnya</div>
					<ul class="nav nav-tabs nav-tabs2 width20" role="tablist" id="myTab">
						<li class="active ">
							<a href="#kota" role="tab" data-toggle="tab">
							<span class="fa fa-map-marker"></span> Berita Terbaru
							</a>
						</li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="kota">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>