<section id="property-search">
	<div class="container">
		<div class="row">
			<div class="property-list-search shadow-bawah-navbar">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="inner">
						<ul class="nav nav-tabs nav-tabs-search">
							<li class="active">
								<a href="#baru" data-toggle="tab">Barang Baru</a>
							</li>
							<li>
								<a href="#bekas" data-toggle="tab">Barang Bekas</a>
							</li>
						</ul>
						<div class="tab-content tab-content-search">
							<div class="tab-pane active" id="baru">
								<form class="form-inline form-search clearfix" role="form">
									<div class="form-group col-sm-3 col-lg-2">
										<label for="">Kategori barang baru</label>
										<select class="form-control">
											<option>Pilih kategori ...</option>
											<option>Mobil</option>
											<option>Motor</option>
											<option>Property</option>
											<option>Elektronik</option>
											<option>Perlengkapan & elektronik rumah tangga</option>
											<option>Fashion & Accesorris</option>
											<option>Perlengkapan bayi dan anak</option>
											<option>Hobi & Olahraga</option>
											<option>Hewan peliharaan</option>
											<option>Bisnis ke bisnis</option>
											<option>Pekerjaan dan jasa</option>
											<option>Makanan dan Minuman</option>
										</select>
									</div>
									<div class="form-group col-sm-3 col-lg-3">
										<label for="">Kota/Kabupaten</label>
										<select name="location" id="location" class="form-control" onChange="get_agency(this.value);">
											<option value="">Pilih Daerah ...</option>
																						<option value="1">Kota Sukabumi</option>
																						<option value="2">Kabupaten Sukabumi</option>
																					</select>
									</div>
									<div class="form-group col-sm-3 col-lg-3">
										<label for="">Kecamatan</label>
										<select class="form-control" name="name" id="sub_district">
											<option>Pilih Daerah ...</option>
										</select>
									</div>
									<div class="form-group col-sm-3 col-lg-3">
										<label for="">Kata Pencarian</label>
										<input type="text" class="form-control" id="exampleInputEmail2" placeholder="Masukan Kata Pencarian">
									</div>
									<div class="form-group col-sm-2 col-lg-1">
										<button type="submit" class="btn btn-flat-asphalt btn-search2">Cari</button>
									</div>
								</form>
							</div>
							<div class="tab-pane" id="bekas">
								<form class="form-inline form-search clearfix" role="form">
									<div class="form-group col-sm-3 col-lg-2">
										<label for="">Kategori barang bekas</label>
										<select class="form-control">
											<option>Pilih kategori ...</option>
											<option>Mobil</option>
											<option>Motor</option>
											<option>Property</option>
											<option>Elektronik</option>
											<option>Perlengkapan & elektronik rumah tangga</option>
											<option>Fashion & Accesorris</option>
											<option>Perlengkapan bayi dan anak</option>
											<option>Hobi & Olahraga</option>
											<option>Hewan peliharaan</option>
											<option>Bisnis ke bisnis</option>
											<option>Pekerjaan dan jasa</option>
											<option>Makanan dan Minuman</option>
										</select>
									</div>
									<div class="form-group col-sm-3 col-lg-3">
										<label for="">Kota/Kabupaten</label>
										<select name="location" id="location" class="form-control" onChange="get_agency(this.value);">
											<option value="">Pilih Daerah ...</option>
																						<option value="1">Kota Sukabumi</option>
																						<option value="2">Kabupaten Sukabumi</option>
																					</select>
									</div>
									<div class="form-group col-sm-3 col-lg-3">
										<label for="">Kecamatan</label>
										<select class="form-control" name="name" id="sub_district">
											<option>Pilih Daerah ...</option>
										</select>
									</div>
									<div class="form-group col-sm-3 col-lg-3">
										<label for="">Kata Pencarian</label>
										<input type="text" class="form-control" id="exampleInputEmail2" placeholder="Masukan Kata Pencarian">
									</div>
									<div class="form-group col-sm-2 col-lg-1">
										<button type="submit" class="btn btn-flat-asphalt btn-search2">Cari</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>