<section class="bawah-search brdr-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="col-md-6 col-sm-4">
					<div class="alert alert-orange2 text-center">TEMUKAN BARANG BERDASARKAN KATALOG & LETAK LOKASI</div>
					<ul class="nav nav-tabs nav-tabs2 width20" role="tablist" id="myTab">
						<li class="active">
							<a href="#pilih-barang" role="tab" data-toggle="tab">
								<span class="fa fa-folder-open"></span> KATEGORI BARANG
							</a>
						</li>
						<li class="">
							<a href="#pilih-tempat" role="tab" data-toggle="tab">
								<span class="fa fa-map-marker"></span> KATEGORI TEMPAT
							</a>
						</li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="pilih-barang">
							<div class="col-md-12 padding-bottom-5">
								<div class="col-md-6 list-style margin-left-right-catalog-home">
									<li class="margin-bottom-5">
										<div class="btn btn-warning">
											<span class="fa fa-car"></span>
										</div> 
										<a href="">Mobil</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-warning">
											<span class="fa fa-bicycle"></span>
										</div> 
										<a href="">Motor</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-warning">
											<span class="fa fa-bank"></span>
										</div> 
										<a href="">Property</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-warning">
											<span class="fa fa-laptop"></span>
										</div> 
										<a href="">Elektronik & Gadget</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-warning">
											<span class="fa fa-plug"></span>
										</div> 
										<a href="">Perlengkapan rumah</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-warning">
											<span class="fa fa-heart-o"></span>
										</div> 
										<a href="">Fashion & Accessoris</a>
									</li>
								</div>
								<div class="col-md-6 list-style">
									<li class="margin-bottom-5">
										<div class="btn btn-warning">
											<span class="fa fa-briefcase"></span>
										</div> 
										<a href="">Perlengkapan Bayi</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-warning">
											<span class="fa fa-soccer-ball-o"></span>
										</div> 
										<a href="">Hobi & Olahraga</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-warning">
											<span class="fa fa-bug"></span>
										</div> 
										<a href="">Hewan Peliharaan</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-warning">
											<span class="fa fa-globe"></span>
										</div> 
										<a href="">Bisnis ke bisnis</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-warning">
											<span class="fa fa-fax"></span>
										</div> 
										<a href="">Pekerjaan & Jasa</a>
									</li>
									<li class="margin-bottom-5">
										<div class="btn btn-warning">
											<span class="fa fa-coffee"></span>
										</div> 
										<a href="">Makanan & Minuman</a>
									</li>
								</div>
							</div>
						</div>
						<div class="tab-pane tab-kategori-ul" id="pilih-tempat">
							<div class="top-search-border-bottom text-center">DAERAH KOTA SUKABUMI</div>
							<div class="br10"></div>
							<div class="kategori-lokasi-kota">
								<div class="container">
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
											<ul>
											<li class='tooltipsku' data-toggle="tooltip" data-placement="top" title="Cari barang di kecamatan gunung puyuh">Kecamatan Gunung Puyuh
												</li>
												<li class='tooltipsku' data-toggle="tooltip" data-placement="top" title="Cari barang di Kecamatan Warudoyong">Kecamatan Warudoyong
												</li>
												<li class='tooltipsku' data-toggle="tooltip" data-placement="top" title="Cari barang di Kecamatan Cikole">Kecamatan Cikole
												</li>
												<li class='tooltipsku' data-toggle="tooltip" data-placement="top" title="Cari barang di Kecamatan Baros">Kecamatan Baros
												</li>
											</ul>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
											<ul>
												<li class='tooltipsku' data-toggle="tooltip" data-placement="top" title="Cari barang di Kecamatan Cibeureum">Kecamatan Cibeureum
												</li>
												<li class='tooltipsku' data-toggle="tooltip" data-placement="top" title="Cari barang di Kecamatan Citamiang">Kecamatan Citamiang
												</li>
												<li class='tooltipsku' data-toggle="tooltip" data-placement="top" title="Cari barang di Kecamatan Lembur Situ">Kecamatan Lembur Situ
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<br>
							<div class="top-search-border-bottom text-center">DAERAH KABUPATEN SUKABUMI</div>
							<div class="br10"></div>
							<div class="kategori-lokasi-kabupaten">
								<div class="container">
									<div class="row">
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<ul>
												<li><a href="">Ciracap</a></li>
												<li><a href="">Surade</a></li>
												<li><a href="">Cibitung</a></li>
												<li><a href="">Tegal Buleud</a></li>
												<li><a href="">Cidadap</a></li>
												<li><a href="">Cidolog</a></li>
												<li><a href="">KaliBunder</a></li>
												<li><a href="">Jampang Kulon</a></li>
												<li><a href="">Cimanggu</a></li>
												<li><a href="">Waluran</a></li>
											</ul>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<ul>
												<li><a href="">Ciemas</a></li>
												<li><a href="">Simpenan</a></li>
												<li><a href="">Lengkong</a></li>
												<li><a href="">Pabuaran</a></li>
												<li><a href="">Sagaranten</a></li>
												<li><a href="">Curug Kembar</a></li>
												<li><a href="">Purabaya</a></li>
												<li><a href="">Nyalindung</a></li>
												<li><a href="">Jampang tengah</a></li>
												<li><a href="">Pelabuhan Ratu</a></li>
											</ul>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<ul>
												<li><a href="">Ciemas</a></li>
												<li><a href="">Simpenan</a></li>
												<li><a href="">Lengkong</a></li>
												<li><a href="">Pabuaran</a></li>
												<li><a href="">Sagaranten</a></li>
												<li><a href="">Curug Kembar</a></li>
												<li><a href="">Purabaya</a></li>
												<li><a href="">Nyalindung</a></li>
												<li><a href="">Jampang tengah</a></li>
												<li><a href="">Pelabuhan Ratu</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="container">
									<div class="row">
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<ul>
												<li><a href="">Bantar Gadung</a></li>
												<li><a href="">Warung Kiara</a></li>
												<li><a href="">Cisolok</a></li>
												<li><a href="">Cikakak</a></li>
												<li><a href="">Cikidang</a></li>
												<li><a href="">Cikembar</a></li>
												<li><a href="">Cibadak</a></li>
												<li><a href="">Cicantayan</a></li>
												<li><a href="">Nagrak</a></li>
											</ul>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<ul>
												<li><a href="">Gunung Guruh</a></li>
												<li><a href="">Cisaat</a></li>
												<li><a href="">Kadudampit</a></li>
												<li><a href="">Sukalarang</a></li>
												<li><a href="">Sukaraja</a></li>
												<li><a href="">Cireunghas</a></li>
												<li><a href="">Gegerbitung</a></li>
												<li><a href="">Kepon Pedes</a></li>
												<li><a href="">parung Kuda</a></li>
											</ul>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<ul>
												<li><a href="">Cicurug</a></li>
												<li><a href="">Bojong Genteng</a></li>
												<li><a href="">Kalapa Nunggal</a></li>
												<li><a href="">Parakan Salak</a></li>
												<li><a href="">Cidahu</a></li>
												<li><a href="">Kabandungan</a></li>
												<li><a href="">Ciambar</a></li>
												<li><a href="">Caringin</a></li>
												<li><a href="">Karang Tengah</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="alert alert-orange2 text-center">TEMUKAN BARANG BERDASARKAN LETAK GEOGRAFIS</div>
					<ul class="nav nav-tabs nav-tabs2 width20" role="tablist" id="myTab">
						<li class="active "><a href="#kota" role="tab" data-toggle="tab"><span class="fa fa-map-marker"></span> KOTA SUKABUMI</a></li>
						<li class=""><a href="#kab" role="tab" data-toggle="tab"><span class="fa fa-map-marker"></span> KABUPATEN SUKABUMI</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="kota">
							<img id="kota_sukabumi" src="http://localhost/portal_sukabumi_shopping/asset/frontend/img/petakota.png" border="0" width="366" height="352" orgWidth="366" orgHeight="352" usemap="#kota_sukabumi">
							<map name="kota_sukabumi" id="kota_sukabumi">
								<area shape="rect" coords="364,350,366,352" alt="Image Map" style="outline:none;" title="Image Map" href="#index.php?aff=mapped_users_0" />
								<area class='tooltipsku' data-toggle="tooltip" data-placement="top" alt="" title="Kecamatan fff" href="http://localhost/portal_sukabumi_shopping/#1" shape="poly" coords="128,75.4000015258789,124,80.4000015258789,124,92.4000015258789,123,103.4000015258789,123,114.4000015258789,122,122.4000015258789,120,129.4000015258789,122,136.4000015258789,121,145.4000015258789,122,154.4000015258789,120,162.4000015258789,132,172.4000015258789,141,180.4000015258789,148,185.4000015258789,148,196.4000015258789,154,203.4000015258789,153,213.4000015258789,159,221.4000015258789,163,227.4000015258789,164,235.4000015258789,169,240.4000015258789,174,233.4000015258789,182,225.4000015258789,188,218.4000015258789,195,209.4000015258789,198,206.4000015258789,202,203.4000015258789,211,192.4000015258789,214,185.4000015258789,216,175.4000015258789,220,166.4000015258789,222,155.4000015258789,225,147.4000015258789,226,140.4000015258789,229,134.4000015258789,230,129.4000015258789,222,122.4000015258789,216,116.4000015258789,208,112.4000015258789,196,110.4000015258789,186,107.4000015258789,175,104.4000015258789,168,101.4000015258789,161,98.4000015258789,158,96.4000015258789,150,90.4000015258789,148,88.4000015258789,146,84.4000015258789,145,82.4000015258789,144,79.4000015258789,145,76.4000015258789" style="outline:none;" >
								<area class='tooltipsku' data-toggle="tooltip" data-placement="top" alt="" title="Kecamatan ddd" href="http://localhost/portal_sukabumi_shopping/#2" shape="poly" coords="144,82,145,77,146,74,147,70,148,66,149,62,149,58,153,55,154,51,156,48,159,44,159,39,160,33,158,29,160,24,162,22,162,19,163,15,165,12,163,8,165,2,166,0,172,4,178,7,184,6,186,13,186,19,194,29,192,35,190,40,187,44,185,48,184,52,191,50,192,45,196,41,203,41,209,40,211,36,214,31,216,28,221,32,228,39,233,38,236,43,238,50,237,55,234,58,234,65,237,70,237,76,237,82,236,85,233,88,230,92,227,96,225,100,222,104,220,107,211,108,208,112,203,112,197,109,193,109,190,108,185,107,181,105,178,104,175,103,171,102,166,101,163,99,159,97,157,95,155,94,152,92,149,89" style="outline:none;" >
								<area class='tooltipsku' data-toggle="tooltip" data-placement="top" alt="" title="Kecamatan jjj" href="http://localhost/portal_sukabumi_shopping/#3" shape="poly" coords="294,145,288,143,280,140,270,138,263,136,254,133,246,131,240,130,236,128,231,129,226,126,222,123,218,118,212,115,208,112,212,108,219,107,223,102,227,97,231,91,232,87,238,80,237,77,237,71,235,68,235,60,239,50,248,49,253,43,261,43,275,54,293,50,303,59,316,60,320,58,320,52,328,44,335,51,331,56,334,65,333,68,337,75,336,86,337,91,333,98,329,97,327,105,320,110,319,116,315,119,311,124,307,127,302,130,299,132,297,136,295,144" style="outline:none;" >
								<area class='tooltipsku' data-toggle="tooltip" data-placement="top" alt="" title="Kecamatan dsf" href="http://localhost/portal_sukabumi_shopping/#4" shape="poly" coords="236,229,230,224,218,222,218,214,209,212,199,206,212,193,230,129,236,128,295,145,286,162,283,163,282,166,281,169,275,166,272,171,276,177,266,192,266,207,262,208,258,209,257,215,254,217,253,219,244,222" style="outline:none;" >
								<area class='tooltipsku' data-toggle="tooltip" data-placement="top" alt="" title="Kecamatan dss" href="http://localhost/portal_sukabumi_shopping/#5" shape="poly" coords="336,272,328,272,320,264,314,260,308,265,298,267,292,272,281,272,286,266,285,262,280,269,278,266,286,258,282,249,273,250,261,271,256,268,254,256,256,246,259,236,260,227,268,214,267,208,266,195,272,185,276,177,272,170,275,166,281,169,283,166,284,163,288,160,292,153,295,148,296,143,298,137,300,134,302,129,307,128,310,124,319,117,321,113,359,105,356,114,353,122,353,133,354,142,357,150,358,160,358,167,360,176,364,186,363,195,362,203,360,210,354,227,351,235,348,243,344,251,345,258,344,263,343,267,340,270" style="outline:none;" >
								<area class='tooltipsku' data-toggle="tooltip" data-placement="top" alt="" title="Kecamatan sss" href="http://localhost/portal_sukabumi_shopping/#6" shape="poly" coords="307,312.5999984741211,304,310.5999984741211,299,312.5999984741211,299,305.5999984741211,287,306.5999984741211,277,303.5999984741211,269,304.5999984741211,265,302.5999984741211,265,298.5999984741211,252,298.5999984741211,249,295.5999984741211,244,296.5999984741211,239,303.5999984741211,231,306.5999984741211,226,312.5999984741211,220,310.5999984741211,217,313.5999984741211,212,314.5999984741211,207,311.5999984741211,206,301.5999984741211,199,297.5999984741211,196,288.5999984741211,190,288.5999984741211,189,285.5999984741211,184,282.5999984741211,194,274.5999984741211,194,262.5999984741211,198,251.5999984741211,198,240.5999984741211,203,233.5999984741211,201,230.5999984741211,201,212.5999984741211,199,210.5999984741211,198,205.5999984741211,209,212.5999984741211,217,213.5999984741211,217,222.5999984741211,229,225.5999984741211,236,228.5999984741211,243,221.5999984741211,251,221.5999984741211,258,215.5999984741211,259,208.5999984741211,263,206.5999984741211,268,210.5999984741211,267,216.5999984741211,263,223.5999984741211,260,226.5999984741211,260,235.5999984741211,258,243.5999984741211,254,253.5999984741211,256,267.5999984741211,260,273.5999984741211,263,267.5999984741211,268,260.5999984741211,271,253.5999984741211,274,250.5999984741211,281,248.5999984741211,285,257.5999984741211,278,266.5999984741211,285,262.5999984741211,281,272.5999984741211,290,274.5999984741211,294,270.5999984741211,299,267.5999984741211,306,265.5999984741211,310,263.5999984741211,312,261.5999984741211,319,264.5999984741211,327,269.5999984741211,334,272.5999984741211,338,271.5999984741211,335,280.5999984741211,334,286.5999984741211,331,286.5999984741211,330,290.5999984741211,325,296.5999984741211,320,296.5999984741211,314,306.5999984741211,313,308.5999984741211,311,310.5999984741211" style="outline:none;" >
								<area class='tooltipsku' data-toggle="tooltip" data-placement="top" alt="" title="Kecamatan aaa" href="http://localhost/portal_sukabumi_shopping/#7" shape="poly" coords="212,314.40000915527344,214,322.40000915527344,208,325.40000915527344,200,327.40000915527344,192,329.40000915527344,192,339.40000915527344,188,340.40000915527344,182,333.40000915527344,177,334.40000915527344,168,349.40000915527344,162,345.40000915527344,158,346.40000915527344,151,347.40000915527344,146,346.40000915527344,144,345.40000915527344,143,350.40000915527344,140,344.40000915527344,134,344.40000915527344,128,338.40000915527344,124,343.40000915527344,120,342.40000915527344,120,339.40000915527344,116,339.40000915527344,112,346.40000915527344,106,340.40000915527344,107,336.40000915527344,99,330.40000915527344,103,326.40000915527344,102,321.40000915527344,98,320.40000915527344,90,316.40000915527344,87,319.40000915527344,85,316.40000915527344,78,312.40000915527344,74,314.40000915527344,71,317.40000915527344,68,319.40000915527344,66,328.40000915527344,60,329.40000915527344,55,323.40000915527344,52,326.40000915527344,41,326.40000915527344,40,334.40000915527344,31,335.40000915527344,28,330.40000915527344,26,335.40000915527344,21,337.40000915527344,11,333.40000915527344,8,322.40000915527344,4,326.40000915527344,1,322.40000915527344,1,318.40000915527344,3,315.40000915527344,9,310.40000915527344,15,312.40000915527344,14,309.40000915527344,11,306.40000915527344,18,298.40000915527344,19,296.40000915527344,17,292.40000915527344,14,289.40000915527344,15,285.40000915527344,36,275.40000915527344,44,272.40000915527344,47,271.40000915527344,59,262.40000915527344,60,256.40000915527344,69,258.40000915527344,72,256.40000915527344,80,258.40000915527344,85,257.40000915527344,94,257.40000915527344,100,258.40000915527344,108,258.40000915527344,116,266.40000915527344,122,264.40000915527344,124,260.40000915527344,128,258.40000915527344,136,256.40000915527344,140,254.40000915527344,146,253.40000915527344,148,250.40000915527344,161,252.40000915527344,164,246.40000915527344,166,242.40000915527344,173,238.40000915527344,178,230.40000915527344,184,223.40000915527344,190,218.40000915527344,194,213.40000915527344,197,208.40000915527344,201,218.40000915527344,202,232.40000915527344,198,238.40000915527344,197,249.40000915527344,194,261.40000915527344,193,273.40000915527344,185,282.40000915527344,192,290.40000915527344,200,297.40000915527344,208,308.40000915527344" style="outline:none;" >
							</map>
						</div>
						<div class="tab-pane" id="kab">
							<img src="http://localhost/portal_sukabumi_shopping/asset/frontend/img/peta2.jpg" class="img-responsive peta-atur">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>