<section id="mid-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="bottom-section-inner clearfix">
					<div class="col-md-4">
						<div class="panel panel-info brdr-color-blue">
							<div class="panel-body brdr-heading-blue">
								<div class="align-center margin-bottom20 title">
									Berita Terbaru
									<div class="brdr-bottom1"></div>
								</div>
								<% (1..10).each do %>
									<a href="#" class="list-group-item">Judul Berita terbaru</a>
								<% end %>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-info brdr-color-blue">
							<div class="panel-body brdr-heading-blue">
								<div class="align-center margin-bottom20 title">
									Berita Hot
									<div class="brdr-bottom1"></div>
								</div>
								<% (1..10).each do %>
									<a href="#" class="list-group-item">Judul Berita</a>
								<% end %>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-info brdr-color-blue">
							<div class="panel-body brdr-heading-blue">
								<div class="align-center margin-bottom20 title">
									Forum Komunitas 
									<div class="brdr-bottom1"></div>
								</div>
								<% (1..10).each do %>
								<a href="#" class="list-group-item">Judul Topik Forum</a>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>