<section id="mid-section">
	<div class="container">
		<div class="row">
			<!-- <div class="col-md-12">
				<div class="bottom-section-inner clearfix">
					<div class="col-md-4">
						<div class="panel panel-info brdr-color-blue">
							<div class="panel-body brdr-heading-blue">
								<div class="align-center margin-bottom20 title">
									Berita Terbaru
									<div class="brdr-bottom1"></div>
								</div>
								<% (1..10).each do %>
									<a href="#" class="list-group-item">Judul Berita terbaru</a>
								<% end %>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-info brdr-color-blue">
							<div class="panel-body brdr-heading-blue">
								<div class="align-center margin-bottom20 title">
									Berita Hot
									<div class="brdr-bottom1"></div>
								</div>
								<% (1..10).each do %>
									<a href="#" class="list-group-item">Judul Berita</a>
								<% end %>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-info brdr-color-blue">
							<div class="panel-body brdr-heading-blue">
								<div class="align-center margin-bottom20 title">
									Forum Komunitas 
									<div class="brdr-bottom1"></div>
								</div>
								<% (1..10).each do %>
								<a href="#" class="list-group-item">Judul Topik Forum</a>
								<% end %>
							</div>
						</div>
					</div>
					<div class="home_exchange_bar">
					<div class="left_orange_block">
						<span class="fa fa-exchange pst-icon-exchange"></span>
					</div>
					<form action="/categories/search/" method="get" id="home_echange_search_form">
					Saya mau tukar
					<input class="exchange_home_input" placeholder="mis. Iphone" type="text"> dengan
					<input class="exchange_home_input" placeholder="mis. Blackberry" type="text">
					<input class="home_exchange_search" name="commit" type="submit" value="CARI">
					</form>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</section>