<section id="mid-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="bottom-section-inner clearfix">
					<div class="iklan-google-1 round4 mb20 pad-ads-2">
						<div class="media-item col-sm-8 col-xs-9">
							<%= image_tag '4257.jpg', class: 'img-thumbnail pad-ads-kiri', alt: 'Sukabumi Shopping' %>
						</div>
						<div class="media-item col-sm-3 col-md-3">
							<a href="#" class="btn22 btn-kuning btn-advertise">
								<span class="adv-icon"><i class="fa fa-users"></i></span>
								<span class="adv-text">Ingin beriklan barang di <br> SukabumiShopping.com?</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>