<section class="property-search-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12 padding-170">
			<%= image_tag 'ads_top.png', class: 'img-thumbnail', alt: 'Sukabumi Shopping' %>
			</div>
		</div>
	</div>
</section>